{% extends 'inventory/base.html' %}

{% block title %}
{% endblock %}

{% block styles %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2>Page d'accueil</h2>
            <br>
            <h3><a href="/inventory/inventoryIndex">- Inventaire complet</a></h3>
            <h3><a href="/inventory/inventoryAdd">- Ajouter mon matériel</a></h3>
            <h3><a href="/inventory/inventoryAddNew">- Ajouter un inventaire</a></h3>
            <h3><a href="/inventory/materielIndex">- Liste des matériels enregistrés</a></h3>
        </div>
    </div>
</div>
{% endblock %}