{% extends 'inventory/base.html' %}

{% block title %}{% endblock %}

{% block styles %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2>Enregistrer votre matériel</h2>
            <br>
            <form action="{% url 'inventory:inventory_add' %}" method="post">
                {% csrf_token %}
                <div>
                    <h5><label>Numéro du matériel : </label> {{ machineName }}  |  <label>Votre IP : </label> {{ ipUser }}</h5>
                    <br>
                    <label>Saisir le login du propriétaire</label>
                    {{ form.login }}
                    <label>Nom</label>
                    {{ form.nom }}
                    <label>Prénom</label>
                    {{ form.prenom }}
                    <label>Téléphone</label>
                    {{ form.telephone }}
                </div>
                <br>
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}